<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
</head>
<body>
    <form action="/action_page.php">
        <label for="name">Full Name:</label><br>
        <input type="text" id="name"><br><br>
        <label for="birthDate">BirthDate:</label><br>
        <input type="date" id="birthDate"><br><br>
        <label for="typeDNI">Document:</label><br>
        <div>
            <input type="radio" id="DNI" name="type" value="DNI"
                   checked>
            <label for="DNI">DNI</label>
            <input type="radio" id="passport" name="type" value="passport">
            <label for="passport">Passport</label>
            <input type="text" id="DNI">
        <div><br>
        <label for="nationality">Nationality</label><br>
        <input type="text" id="nationality"><br><br>
        
        <input type="submit" value="Submit">
      </form>
</body>
</html>