<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
</head>
<body>
    <form action="/action_page.php">
        <label for="name">Team name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="country">Country:</label><br>
        <input type="text" id="country" country="country"><br>
        <label for="ranking">Actual ranking position:</label><br>
        <input type="text" id="ranking" ranking="ranking"><br><br>
        
        <input type="submit" value="Submit">
      </form>
</body>
</html>